<div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title">Profile Team</div>
          <div class="team-profile">
            <div class="team-holder">
              <img src="http://placehold.it/80" class="team-logo-lg">
              <div class="team-description">
                Name <br> Country
              </div>
            </div>
            <div class="team-info-holder">
              <div class="statistic">Rating winrate matches played</div>
              <div class="players">
								<div class="team-player">
                	<ul class="list-group">
                	  <li class="list-group-item">BlackNigga&nbsp;&nbsp;<span class="label label-primary">Captain</span>
                	  <li class="list-group-item">WhiteNigga</li>
                	  <li class="list-group-item">YellowNigga</li>
                	  <li class="list-group-item">GreenNigga</li>
                	  <li class="list-group-item">BlueNigga</li>
                	</ul>
								</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="recent-matches">
            <div class="title">Recent Matches</div>
            <ul>
              <li>vs Team Secter</li>
              <li>vs Team Spirit</li>
              <li>vs Team Empire</li>
              <li>vs Team Alliance</li>
              <li>vs Vega Squadron</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
