<div class="container">
  <div class="title">Create new Team</div>

  <b>Full Team Name</b><br>
  <input type="text" size="40"><br>
  <b>Team Tag / Abbreviation</b><br>
  <input type="text" size="40"><br>
  <b>Specify Country</b><br>
  <input type="text" size="40"><br>
  <b>Team URL</b><br>
  <input type="text" size="40"><br>
</div>
