<% if current_user %>
  <div class="container">
    <div class="title">Create new Team</div>
    <%= form_for Team.new do |i| %>

      <b>Full Team Name</b><br>
      <%= i.text_field :name %><br>
      <b>Team Tag / Abbreviation</b><br>
      <br>
      <b>Specify Country</b><br>
      <%= i.text_field :country %><br>
      <b>Team URL</b><br>

    	<p><%= i.submit "Create Team" %></p>

    <% end %>
  </div>
<% else %>
  <% controller.redirect_to login_path %>
<% end %>
