<div class="team-info">
  <img src="http://placehold.it/60">
  Name: <%= @current_team.name %>
  <br>
  Country: <%= @current_team.country %>
  <br>
  Rating: <%= @current_team.rating %>
</div>
<div class="team-player">
  <ul class="list-group">
    <% @users.each do |i| %>
      <li class="list-group-item"><%= i.name %>&nbsp;&nbsp;<span class="label label-primary">Captain</span></li>
    <% end %>
  </ul>
</div>
