<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="turnament">
        <div class="turnament-title">Turnament #1</div>
        <div class="turnament-info">
          payment-$10
          <br>
          teams-6/12
          <br>
          prize-$100
          <br>
          date-24.04.16 16:00
        </div>
        <a href="#" class="btn btn-primary btn-reg">Registration</a>
      </div>
    </div>
  </div>
</div>
