<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="turnament">
        <div class="turnament-title">Turnament #1</div>
        <div class="turnament-info">
          <ul>
            <li>payment-$10</li>
            <li>teams-6/12</li>
            <li>prize-$100</li>
            <li>date-24.04.16 16:00</li>
          </ul>
        </div>
        <%= link_to 'Registration', turnament_path(@turnaments), class: "btn btn-primary btn-reg" %>
      </div>
    </div>
  </div>
</div>
