<div class="container">
  <div class="row">
    <div class="container">
      <div class="title">Registration</div>
      <div class="col-sm-4">
        <% if current_user %>
        <div id="pick-team">
          <div class="btn-group btn-input clearfix team-select">
            <button class="btn btn-primary dropdown-toggle form-control" data-toggle="dropdown">
              <span data-bind="label">Choose Team</span>&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <% @teams.each do |i| %>
                <li><%= link_to i.name, turnament_path(team_id: i), remote: true %></li>
              <% end %>
            </ul>
          </div>
          <button type="button" class="btn btn-primary" id="btn-send">Send</button>
          <div id="team-detail">
          </div>
        </div>
        <% else %>
          <div>To register for the tournament you need to be authorized</div>
          <%= link_to "LogIn", login_path %>
        <% end %>
      </div>
      <div class="col-sm-8">
        <div class="party-teams">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th></th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><img src="http://placehold.it/30" alt=""></td>
                <td>Team 1</td>
              </tr>
              <tr>
                <td>2</td>
                <td><img src="http://placehold.it/30" alt=""></td>
                <td>Team 2</td>
              </tr>
              <tr>
                <td>3</td>
                <td><img src="http://placehold.it/30" alt=""></td>
                <td>Team 3</td>
              </tr>
              <tr>
                <td>4</td>
                <td><img src="http://placehold.it/30" alt=""></td>
                <td>Vega 4</td>
              </tr>
              <tr>
                <td>5</td>
                <td><img src="http://placehold.it/30" alt=""></td>
                <td>Team 5</td>
              </tr>
              <tr>
                <td>6</td>
                <td><img src="http://placehold.it/30" alt=""></td>
                <td>Team 6</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $( document.body ).on( 'click', '.dropdown-menu li', function( event ) {

   var $target = $( event.currentTarget );

   $target.closest( '.btn-group' )
      .find( '[data-bind="label"]' ).text( $target.text() )
         .end()
      .children( '.dropdown-toggle' ).dropdown( 'toggle' );

   return false;

  });
</script>
