@charset "UTF-8";
/* line 1, /home/mlisivka/Документи/dev/railsparagon/app/assets/stylesheets/admin_login.scss */
* {
  box-sizing: border-box;
}

/* line 4, /home/mlisivka/Документи/dev/railsparagon/app/assets/stylesheets/admin_login.scss */
body {
  font: 400 16px/1.5em sans-serif;
}

/* line 7, /home/mlisivka/Документи/dev/railsparagon/app/assets/stylesheets/admin_login.scss */
h3 {
  margin: 0;
}

/* line 10, /home/mlisivka/Документи/dev/railsparagon/app/assets/stylesheets/admin_login.scss */
a {
  color: #999;
  text-decoration: none;
}

/* line 14, /home/mlisivka/Документи/dev/railsparagon/app/assets/stylesheets/admin_login.scss */
a:hover {
  color: #1dabb8;
}

/* line 17, /home/mlisivka/Документи/dev/railsparagon/app/assets/stylesheets/admin_login.scss */
input {
  border: none;
}

/* line 20, /home/mlisivka/Документи/dev/railsparagon/app/assets/stylesheets/admin_login.scss */
input:focus {
  outline: none;
}

/* line 23, /home/mlisivka/Документи/dev/railsparagon/app/assets/stylesheets/admin_login.scss */
#login-form {
  width: 300px;
  margin: auto;
  margin-top: 70px;
}

/* line 28, /home/mlisivka/Документи/dev/railsparagon/app/assets/stylesheets/admin_login.scss */
#login-form h3 {
  background-color: #282830;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* line 37, /home/mlisivka/Документи/dev/railsparagon/app/assets/stylesheets/admin_login.scss */
#login-form .fieldset {
  background: #eee;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  position: relative;
}

/* line 43, /home/mlisivka/Документи/dev/railsparagon/app/assets/stylesheets/admin_login.scss */
.fieldset h4 {
  margin: 0 0 10px 0;
  text-align: center;
}

/* line 47, /home/mlisivka/Документи/dev/railsparagon/app/assets/stylesheets/admin_login.scss */
#login-form input {
  font-size: 14px;
}

/* line 50, /home/mlisivka/Документи/dev/railsparagon/app/assets/stylesheets/admin_login.scss */
#login-form input[type="email"],
#login-form input[type="password"] {
  border: 1px solid #dcdcdc;
  padding: 12px 10px;
  width: 100%;
}

/* line 56, /home/mlisivka/Документи/dev/railsparagon/app/assets/stylesheets/admin_login.scss */
#login-form input[type="password"] {
  border-radius: 3px;
}

/* line 59, /home/mlisivka/Документи/dev/railsparagon/app/assets/stylesheets/admin_login.scss */
#login-form input[type="submit"] {
  background: #1dabb8;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
  padding: 12px 20px;
  width: 100%;
}

/* line 68, /home/mlisivka/Документи/dev/railsparagon/app/assets/stylesheets/admin_login.scss */
#login-form input[type="submit"]:hover {
  background: #198d98;
}
