<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="profile">
        <div class="title">Profile</div>
          <table class="table table-condensed stats">
            <tr>
              <td>Played</td>
              <td>126</td>
            </tr>
            <tr>
              <td>Win</td>
              <td>71(89%)</td>
            </tr>
            <tr>
              <td>Lose</td>
              <td>55</td>
            </tr>
            <tr>
              <td>KDA</td>
              <td>3.68</td>
            </tr>
          </table>
      </div>
    </div>

    <div class="col-md-8">
      <div class="result-match">
        <div class="title">Match history</div>
        <div class="match">
          <div class="match-header">11/04/2016, 04:44</div>
          <div class="match-main">
            <div class="match-left">
              <div class="main-team">
                <b>Team1</b>
                <img src="http://placehold.it/50x50" class="team-logo" style="float: right;"></img>
              </div>
              <b>VS</b>
              <div class="main-team">
                <b>Team2</b>
                <img src="http://placehold.it/50x50" class="team-logo" style="float: left;"></img>
              </div>
            </div>
            <a href="#spoiler" data-toggle="collapse" class="btn-details glyphicon spoiler collapsed"></a>
          </div>
          <div class="collapse" id="spoiler">
              <div class="match-full">
                <div class="row teams">
                  <div class="col-md-6 team">
                    <table class="table table-condensed team-1">
                      <thead>
                        <tr>
                          <th>Hero</th>
                          <th>Name</th>
                          <th>KDA</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>TwinBlast</td>
                          <td>BlackNigga</td>
                          <td>1.25</td>
                        </tr>
                        <tr>
                          <td>Feng Mao</td>
                          <td>WhiteNigga</td>
                          <td>6.75</td>
                        </tr>
                        <tr>
                          <td>Muriel</td>
                          <td>YellowNigga</td>
                          <td>4.5</td>
                        </tr>
                        <tr>
                          <td>Rampage</td>
                          <td>GreenNigga</td>
                          <td>3.76</td>
                        </tr>
                        <tr>
                          <td>Gideon</td>
                          <td>BlueNigga</td>
                          <td>4.68</td>
                        </tr>
                        <tr>
                          <td>Score: 25/52/106</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-6 team">
                    <table class="table table-condensed team-2">
                      <thead>
                        <tr>
                          <th>Hero</th>
                          <th>Name</th>
                          <th>KDA</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>TwinBlast</td>
                          <td>BlackNigga</td>
                          <td>1.25</td>
                        </tr>
                        <tr>
                          <td>Feng Mao</td>
                          <td>WhiteNigga</td>
                          <td>6.75</td>
                        </tr>
                        <tr>
                          <td>Muriel</td>
                          <td>YellowNigga</td>
                          <td>4.5</td>
                        </tr>
                        <tr>
                          <td>Rampage</td>
                          <td>GreenNigga</td>
                          <td>3.76</td>
                        </tr>
                        <tr>
                          <td>Gideon</td>
                          <td>BlueNigga</td>
                          <td>4.68</td>
                        </tr>
                        <tr>
                          <td>Score: 25/52/106</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="match">
          <div class="match-header">11/04/2016, 04:44</div>
          <div class="match-main">
            <div class="match-left">
              <div class="main-team">
                <b>Team1</b>
                <img src="http://placehold.it/50x50" class="team-logo" style="float: right;"></img>
              </div>
              <b>VS</b>
              <div class="main-team">
                <b>Team2</b>
                <img src="http://placehold.it/50x50" class="team-logo" style="float: left;"></img>
              </div>
            </div>
            <a href="#spoiler" data-toggle="collapse" class="btn-details glyphicon spoiler collapsed"></a>
          </div>
          <div class="collapse" id="spoiler">
            <div class="match-full">
              <div class="row">
                <div class="col-md-6">
                  <table class="table table-condensed stats">
                    <th>
                      <td>Hero</td>
                      <td>Name</td>
                      <td>KDA</td>
                    </th>
                    <tr>
                      <td>Played</td>
                      <td>126</td>
                    </tr>
                    <tr>
                      <td>Win</td>
                      <td>71(89%)</td>
                    </tr>
                    <tr>
                      <td>Lose</td>
                      <td>55</td>
                    </tr>
                    <tr>
                      <td>KDA</td>
                      <td>3.68</td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-6"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
