$("#team-detail").html("<%= j render('detail') %>")
$(".error_msg").remove();
<% if @current_team.users.length < 5 %>
	$("#pick-team").after('<div class="error_msg"><%= _("To take part in the tournament your team must be at least 5 players") %></div>')
<% end %>
	