<div class="col-md-4 hidden-xs">
  <div class="right-menu">
    <ul>
		<div class="title subtitle"><%= _('Next matches') %></div>
      <li>Team 4 vs Team 9</li>
      <li>Team 5 vs Team 10</li>
			<li>Team 1 vs Team 6</li>
		<div class="title subtitle"><%= _('Recent matches') %></div>
      <li>Team 11 vs Team 13</li>
      <li>Team 12 vs Team 14</li>
			<li>Team 1 vs Team 6</li>
			<div class="title subtitle"><%= _('Next tournaments') %></div>
        <li>Tournament #1</li>
        <li>Tournament #2</li>
        <li>Tournament #3</li>
		</ul>
  </div>
</div>