<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="match-box">
        <div class="match-info">11/04/2016, 04:44
          <div class="pull-right event">The International</div>
        </div>
        <a class="match-url" href="/matches/1">
          <div class="match-main">
            <div class="match-left">
              <div class="main-team">
                <b>Team1</b>
                <img src="http://placehold.it/50x50" class="team-logo" style="float: right;"></img>
              </div>
              <b>VS</b>
              <div class="main-team">
                <b>Team2</b>
                <img src="http://placehold.it/50x50" class="team-logo" style="float: left;"></img>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="match-box">
        <div class="match-info">11/04/2016, 04:44
          <div class="pull-right event">The International</div>
        </div>
        <a class="match-url" href="/matches/1">
          <div class="match-main">
            <div class="match-left">
              <div class="main-team">
                <b>Team1</b>
                <img src="http://placehold.it/50x50" class="team-logo" style="float: right;"></img>
              </div>
              <b>VS</b>
              <div class="main-team">
                <b>Team2</b>
                <img src="http://placehold.it/50x50" class="team-logo" style="float: left;"></img>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 hidden-sm">
      <div class="recent-matches">
        <div class="title"><%= _('Recent matches') %></div>
        <ul>
          <li>Team 1 vs Team 6</li>
          <li>Team 2 vs Team 7</li>
          <li>Team 3 vs Team 8</li>
          <li>Team 4 vs Team 9</li>
          <li>Team 5 vs Team 10</li>
        </ul>
      </div>
    </div>
  </div>
</div>
