<div class="container">
  <div class="title">Match #21</div>
  <div class="row">
    <div class="container">
      <div class="match-full">
        <div class="col-sm-6">
          <div class="half-team">
            <div class="match-header">
              <img src="http://placehold.it/80" class="team-emblem">
              <b>Team1</b>
            </div>
            <div class="team-player-match">
              <ul class="list-group">
                <li class="list-group-item blue-border">BlackNigga&nbsp;&nbsp;<span class="label label-primary">Captain</span>
                  <div class="heroes">
                    <div class="hero"><img src="http://placehold.it/32"></div>
                    <div class="hero"><img src="http://placehold.it/32"></div>
                  </div>
                </li>
                <li class="list-group-item blue-border">WhiteNigga
                  <div class="heroes">
                    <div class="hero"><img src="http://placehold.it/32"></div>
                    <div class="hero"><img src="http://placehold.it/32"></div>
                  </div>
                </li>
                <li class="list-group-item blue-border">YellowNigga
                  <div class="heroes">
                    <div class="hero"><img src="http://placehold.it/32"></div>
                    <div class="hero"><img src="http://placehold.it/32"></div>
                  </div>
                </li>
                <li class="list-group-item blue-border">GreenNigga
                  <div class="heroes">
                    <div class="hero"><img src="http://placehold.it/32"></div>
                    <div class="hero"><img src="http://placehold.it/32"></div>
                  </div>
                </li>
                <li class="list-group-item blue-border">BlueNigga
                  <div class="heroes">
                    <div class="hero"><img src="http://placehold.it/32"></div>
                    <div class="hero"><img src="http://placehold.it/32"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="half-team">
            <div class="match-header">
              <img src="http://placehold.it/80" class="team-emblem">
              <b>Team1</b>
            </div>
            <div class="team-player-match">
              <ul class="list-group">
                <li class="list-group-item blue-border">BlackNigga&nbsp;&nbsp;<span class="label label-primary">Captain</span>
                  <div class="heroes">
                    <div class="hero"><img src="http://placehold.it/32"></div>
                    <div class="hero"><img src="http://placehold.it/32"></div>
                  </div>
                </li>
                <li class="list-group-item blue-border">WhiteNigga
                  <div class="heroes">
                    <div class="hero"><img src="http://placehold.it/32"></div>
                    <div class="hero"><img src="http://placehold.it/32"></div>
                  </div>
                </li>
                <li class="list-group-item blue-border">YellowNigga
                  <div class="heroes">
                    <div class="hero"><img src="http://placehold.it/32"></div>
                    <div class="hero"><img src="http://placehold.it/32"></div>
                  </div>
                </li>
                <li class="list-group-item blue-border">GreenNigga
                  <div class="heroes">
                    <div class="hero"><img src="http://placehold.it/32"></div>
                    <div class="hero"><img src="http://placehold.it/32"></div>
                  </div>
                </li>
                <li class="list-group-item blue-border">BlueNigga
                  <div class="heroes">
                    <div class="hero"><img src="http://placehold.it/32"></div>
                    <div class="hero"><img src="http://placehold.it/32"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
