<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% @posts.each do |i| %>
      <div class="post">
        <div class="row">
          <div class="col-sm-4 hidden-xs">
            <img src="http://placehold.it/216x120" class="img ">
          </div>
          <div class="col-md-8">
            <div class="content">
              <h3><a href="/posts/<%= i.id %>"><%= i.title %></a></h3>
              <div class="text"><%= i.text %></div>
              <div class="info"><%= i.created_at.strftime('%d/%m/%Y %H:%M') %></div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="recent-matches">
        <div class="title">Recent Matches</div>
        <ul>
          <li>Team 1 vs Team 6</li>
          <li>Team 2 vs Team 7</li>
          <li>Team 3 vs Team 8</li>
          <li>Team 4 vs Team 9</li>
          <li>Team 5 vs Team 10</li>
        </ul>
      </div>
    </div>
  </div>
</div>
