<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <% @posts.each do |i| %>
      <div class="post">
        <div class="row">
          <div class="col-sm-4 hidden-xs">
            <img src="http://placehold.it/216x120" class="img ">
          </div>
          <div class="col-md-8">
            <div class="content">
              <h3><a href="/posts/<%= i.id %>"><%= i.title %></a></h3>
              <div class="text"><%= i.text %></div>
              <div class="info"><%= i.created_at %></div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-lg-4">
      <div class="recent-matches">
        <div class="title">Recent Matches</div>
        <ul>
          <li>vs Team Secter</li>
          <li>vs Team Spirit</li>
          <li>vs Team Empire</li>
          <li>vs Team Alliance</li>
          <li>vs Vega Squadron</li>
        </ul>
      </div>
    </div>
  </div>
</div>
