* {
  box-sizing: border-box;
}
body {
  font: 400 16px/1.5em sans-serif;
}
h3 {
  margin: 0;
}
a {
  color: #999;
  text-decoration: none;
}
a:hover {
  color: #1dabb8;
}
input {
  border: none;
}
input:focus {
  outline: none;
}
#login-form {
  width: 300px;
  margin: auto;
  margin-top: 70px;
}
#login-form h3 {
  background-color: #282830;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}
#login-form .fieldset {
  background: #eee;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  position: relative;
}
.fieldset h4{
  margin: 0 0 10px 0;
  text-align: center;
}
#login-form input {
  font-size: 14px;
}
#login-form input[type="email"],
#login-form input[type="password"] {
  border: 1px solid #dcdcdc;
  padding: 12px 10px;
  width: 100%;
}
#login-form input[type="password"] {
  border-radius: 3px;
}
#login-form input[type="submit"] {
  background: #1dabb8;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
  padding: 12px 20px;
  width: 100%;
}
#login-form input[type="submit"]:hover {
  background: #198d98;
}
