@import "bootstrap-sprockets";
@import "bootstrap";
$main_colora: #346;
$main_color: rgb(40,53,79);
$orange: #FFC749;

.navbar-static-top{
  box-shadow: 1px 1px 7px 2px rgba(0,0,0,0.2);
	background-color: $main_colora !important;
  border:1px solid $main_color !important;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
	//color: $orange;
	background-color: $main_color;
}
.navbar-inverse .navbar-nav > li > a{
	color: $orange;
}
.navbar-inverse .navbar-toggle .icon-bar{
	background-color: $orange;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background-color: $main_color;
}
.navbar-inverse .navbar-toggle{
	border-color: $main-color;
}
#divider {
  height: 1px;
  margin: 0 10px;
  overflow: hidden;
  background-color: #e5e5e5;
}
html {
 position: relative;
 min-height: 100%;
}
body{
	//background: url(asset-path('bg_o.jpg')) no-repeat center center fixed;
	//background: url(asset-path('paragon1.jpg')) no-repeat center center fixed;
	//background: url(asset-path('paragon2.jpg')) no-repeat center center fixed;
	//background: url(asset-path('over_bg.jpg')) no-repeat center center fixed;
	background: url(asset-path('agora_bg.png')) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.notify{
  position: absolute;
  width: 280px;
  top: 52px;
  background: #fff;
  border: 1px solid #c5d0db;
  border-top: none;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  cursor: default;
  margin-left: -135px;
}
.notify-main{
  margin: 5px;
}
.notify-btn .btn{
  margin-top: 10px;
  width: 132px;
}
#locale_list{
  position: absolute;
  min-width: 180px;
  top: 50px;
  background: $main_colora;
  cursor: default;
  margin-left: -90px;
}
#locale_list > li > a{
  color: #ccc;
}
#locale_list > li > a:hover{
  color: #fff;
	background-color: $main_colora;
}
.footer {
  position: absolute;
  bottom: -230px;
  width: 100%;
  background-color: $main_colora;
  color: $orange;
  border:1px solid $main_color;
}
@media (min-width: 768px) and (max-width: 992px) {
  .footer {
    bottom: -376px;
  }
}
@media (max-width: 767px) {
  .footer {
    bottom: -668px;
  }
}
.post {
  background-color: #fafafa;
  height: 160px;
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 25px 80px -50px rgba(0,0,0,1);
  //box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  //box-shadow: 0px 10px 50px -25px rgba(0,0,0,1);
}
.img {
  height: 120px;
  width: 100%;
}
.content{
  height: 120px;
  word-wrap: break-word;
}
.content>h3 {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
}
.info {
  font-size: 13px;
  position: absolute;
  bottom: 0;
  right: 15px;
}
.blog {
  background-color: #eee;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.blog-title {
  line-height: 32px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-left: 10px;
  font-size: 24px;
}
.blog-image {
  width: 80%;
  height: 180px;
  margin: 10px auto;
  display: block;
}
.navbar-toggle.pull-left {
  margin-left: 15px;
}
.navbar-static-bottom {
  border-radius: 0px;
}
@media (max-width: 767px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -60px;
  }
}
.tournament {
  background-color: #fafafa;
  height: 200px;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
.tournament-title {
  margin: 5px;
  text-align: center;
}
.tournament-info {
  padding: 0 20px;
}
.tournament-info-sm{
  height: 93px;
  width: 100%;
  margin-top: 10px;
}
.tournament-info-sm > ul > li{
	background-color: inherit;
  padding: 0;
	line-height: 22px;
	padding-left: 15px;
}

.tour>tbody>tr>td:last-child {
  text-align: right;
	color: #003BB2;
}
.btn-reg {
  position: absolute;
  margin-left: -51px;
  left: 50%;
}
.profile {
	background-color: #fafafa;
}
.result-match {
  width: 100%;
  padding-bottom: 10px;
}
.title {
  color: $orange;//7BC8F7
  background-color: $main_color;
  width: 100%;
  padding: 6px;
}
.subtitle{
  padding: 2px 10px !important;
}
.match {
  width: calc(100% - 40px);
  margin: 10px 20px 0 20px;
}
.btn-details {
  height: 100%;
  float: right;
  margin-top: -69px;
  padding: 23px 2px;
  font-size: 25px;
  color: #7BC8F7;
  background: #222;
}
.match-info {
  padding: 2px;
  width: 100%;
  height: 23px;
  background: #eee;
}
.match-main {
  width: 100%;
  height: 68px;
  background: #2e6da4;
}
.match-left {
  height: 100%;
  width: calc(100% - 58px);
  line-height: 68px;
  margin-left: 29px;
}
.main-team {
  width: 45%;
  float: left;
  text-align: center;
  color: #fff;
}
.team-logo {
  height: 50px;
  width: 50px;
  margin-top: 9px;
}
.team-name {
  margin-top: 50px;
}
.stats {
  margin-top: 10px;
}
.stats>tbody>tr>td:last-child {
  text-align: right;
}
.main-team + b {
  float: left;
  width: 10%;
  text-align: center;
}
.match-main a {
  text-decoration: none;
}
.match-main a:focus {
  color: #7BC8F7;
}
.match-main a:hover {
  color: red;
}
a.spoiler:after {
  text-decoration: none;
  content: "\e252";
}
a.spoiler.change:after {
  content: "\e253";
}
.table {
  margin-bottom: 0px;
}
.teams {
  padding: 0 4px;
  font-size: 11px;
}
.teams th {
  color: white;
  background: #848484;
}
.team {
  padding: 0 2px;
}
@media (max-width: 992px) {
  .team {
    padding: 0 15px;
  }
}
.team:first-child {
  padding-left: 15px;
}
.team:last-child {
  padding-right: 15px;
}
.team-select {
	margin-top: 10px;
	width: 68%;
	min-width: 160px;
	float: left;
	padding: 5px 5px;
}
.team-select>option {
  //background-color: #fff;
  color: #fff;
}
.btn-input .btn.form-control span:first-child {
  left: 10px;
  overflow: hidden;
  position: absolute;
  right: 15px;
  text-align: left;
}
.btn-input .btn.form-control .caret {
  margin-top: -1px;
  position: absolute;
  right: 5px;
  top: 50%;
}
.team-info {
  height: 80px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px 15px;
	overflow: hidden;
}
.team-info > img {
  float: left;
  margin-right: 15px;
}
.team-player {
  margin-bottom: -10px;
  margin-top: 5px;
}
.team-player > ul > li.list-group-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cover{
	background-color: #fafafa;
  overflow: hidden;
	margin-bottom: 10px;
}
#pick-team{
	overflow: hidden;
}
#pick-team .dropdown-menu{
  min-width: 100%;
	position: relative;
	z-index: 1000;
}
.party-teams {
  margin: 10px 0
}
.party-teams th {
  background-color: #337ab7;
  color: white;
  border-bottom: 0 !important;
}
.party-teams th:first-child {
  width: 20px;
}
.party-teams th:nth-child(2){
  width: 40px
}
.party-teams td{
  vertical-align: middle !important;
}
.btn-send {
  margin-top: 15px;
  width: 30%;
	float: left;
}
@media (min-width: 768px) {
  .left-navbar {
    margin-right: -30px;
  }
}
.left-navbar li {
  background-color: #F8F8F8;
}
.left-navbar li > a {
  color: #777;
  text-decoration: none;
}
.left-navbar li > a:hover {
  color: #0d0;
}
.team-profile {
  width: 100%;
  display: inline-block;
  background: #eee;
  margin-bottom: 10px;
}
.team-logo-lg {
  width: 80px;
  height: 80px;
  margin: 20px;
  float: left;
}
.team-description {
  margin-top: 10px;
  height: 100px;
  width: calc(100% - 140px);
  float: left;
  background: #888;
}
.team-holder {
  margin-bottom: 20px;
  height: 120px;
}
.players {
  width: 60%;
  margin: auto;
}
.right-menu>ul {
  //margin-top: 10px;
  padding-left: 0;
}
.right-menu>ul>li {
  display: block;
  margin-bottom: -1px;
  color: #fff;
  padding: 0 10px;
  line-height: 30px;
  background-color: #346;
  border: 1px solid #485F8E;
}
.event {
  margin-right: 8px;
}
.match-box {
  margin-bottom: 10px;
}
.match-url {
  color: #333!important;
}
.team-emblem {
  height: 80px;
  width: 80px;
  margin: 10px;
}
.heroes {
  float: right;
  margin-top: -6px;
}
.hero {
  height: 32px;
  width: 32px;
  display: inline-block;
}
.match-full {
  background: #eee;
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.team-player-match {
  margin-bottom: -10px;
}
.match-pass{
	width: 100%;
	float: left;
	font-size: 16px;
	border-top: solid 1px #87CEEB;
	border-bottom: solid 1px #87CEEB;
}
.match-pass>b {
	color: #28354f;
	font-size:18px;
}
.confirm-time{
	width: 100%;
	float: left;
	border-bottom: solid 1px #87CEEB;
}
.blue-border {
  border: solid 1px #87CEEB;
}
.blue-border:first-child {
border-top: solid 8px #87CEEB;
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-sign {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
	background-color: hsla(0,0%,100%,0.8);
}
.form-sign .form-control:focus {
  z-index: 2;
}
.form-sign .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin: 5px 0;
}
.invalid_error{
  color: red;
  padding: 5px;
  font-size: 12px;
  margin-top: -5px;
}
.success_msg{
	color: green;
	text-align: center;
}
.error_msg{
	color: red;
	text-align: center;
}
.alert{
  margin-top: -20px;
  border-radius: 0;
}
.alert-success{
	background-color: #DFF2BF;
}
.alert-danger{
	background-color: #FFBABA;
}
.alert-warning{
	background-color: #FEEFB3;
}
.col-centered{
  text-align: center;
}
.social{
	text-align: center;
	margin-top: 7px;
}
.social a {
	position: relative;
	display: inline-block;
	min-width: 40px;
	padding: 10px 0px;
	margin: 0px 4px;
	overflow: hidden;
	text-align: center;
	background-color: rgb(215, 215, 215);
	border-radius: 50%;
}
a.social-icon {
	text-decoration: none;
}
a.social-icon:hover {
	color: #fff !important;
}
a.facebook {
	color: #3b5998 !important;
}
a.facebook:hover {		
	background-color: #3b5998 !important;
}
a.twitter {
	color: #1da1f2 !important;
}
a.twitter:hover {
	background-color: #1da1f2 !important;
}
a.vk{
  color: #507299 !important;
}
a.vk:hover{
  background-color: #507299 !important;
}
